
{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}
{% block header_title %}About{% endblock %}

{% block body %}
    <section>
        <h2>Project</h2>
        <p class="lead">PHP / Symfony Technical Showcase</p>
        <p>
            Source: <a href="https://github.com/job3dot5/sample01/">github.com/job3dot5/sample01</a>
        </p>
    </section>
{% endblock %}
