{% extends 'base.html.twig' %}

{% block title %}Health{% endblock %}
{% block header_title %}Health{% endblock %}

{% block body %}
    <section>
        <h2>Health check</h2>
        {% include 'dashboard/_health_table.html.twig' with { stats: stats } %}
    </section>
{% endblock %}
