{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block header_title %}Dashboard{% endblock %}

{% block body %}
    <section>
        <h2>Health check</h2>
        {% include 'dashboard/_health_table.html.twig' with { stats: stats } %}
    </section>

    <section>
        <h2>Routes</h2>
        {% include 'dashboard/_routes_table.html.twig' with { routes: routes } %}
    </section>
{% endblock %}
